body {
  font-family: 'Roboto', sans-serif;
  background-color: #C39364;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

div > h1 {
  font-size: 1.8rem;
}

nav > p {
  cursor: pointer;
}
.pill-black, .pill-white {
  border: 0.5px solid;
  border-radius: 5px;
  text-align: center;
}

.pill-black {
  background-color: #000000;
  color: #FFFFFF;
}

.pill-white {
  background-color: #FFFFFF;
  color: #000000;
}

footer {
  margin-top: 20px;
}

footer div {
  display: flex;
  align-items: center;
}

/* Customizations of Bootstrap classes */

header .row {
  display: flex;
  align-items: center;
}

.col-sm-4 p {
  margin: 25px 20px 15px;
  min-width: 60px;
  padding: 1px;
}

section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  text-align: right;
  height: 600px;
  background-image: url("pexels-pixabay-275033 (1).jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  background-color: #d3dbe0;
  display: inline-block;
  color: #000000;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}

.jumbotron h3 {
  color: #FFFFFF;
  font-weight: bold;
}

.btn-primary {
  color: #2e6da4;
  background-color: #FFFFFF;
}

.col-sm-1 img {
  min-width: 32px;
  min-height: 33px;
}

#overlay {
  width: 80%;
  margin: 3% auto;
  height: 95vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}