<!DOCTYPE html>
<html>
	<head>
		<title>Game Recs Quiz</title>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	</head>
	<body>
		<header class="container">
			<div class="row">
				<h1 class="col-sm-8">Game Recommendations</h1>
			</div>
		</header>
		<section class="jumbotron">
			<div class="container">
				<div class="container">
					<h2>Want game recommendations that you'll enjoy?</h2>
					<h3><a href="quiz.html">Take Quiz!</a></h3>
				</div>
				<h4><a href="recs.html">Recommendations page for debugging</a></h3>
			</div>
		</section>
	</body>
	<footer></footer>
</html>