<!DOCTYPE html>
<html>
	<head>
		<title>Game Rec Results</title>
		<link rel="stylesheet" href ="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
 		<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

		
	</head>
	<body>
		<header class="container">
			<div class="row">
				<h1 class="col-sm-8">Game Recommendations</h1>
				<nav class = "col-sm-4">
					<p class="pill-white"><a href="index.html">Home</a></p>
				</nav>
			</div>
		</header>
		<section class="container">
			<h2 class="col-sm-8">Based on your quiz, you should play...</h2>
			<div>
				<table id="games" class="display" style="width:100%">
					<thead>
						<tr>
							<th>Name</th>
							<th>Release Date </th>
							<th>Description </th>
							<th>Rating </th>
							<th>Platforms </th>
							<th>Playtime </th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Release Date</th>
							<th>Description</th>
							<th>Rating </th>
							<th>Platforms</th>
							<th>Playtime</th>
						</tr>
					</tfoot>
				</table>
				

			</div>
		</section>

		<script>
			function setupData() {
				$(document).ready(function () {
					$('#games').DataTable({
						"ajax": {
							// "url": "static/objects2.txt", // This works for the static file
							"url": "/get_data1", 
							"dataType": "json",
							"dataSrc": "results",
							"contentType":"application/json"
						},
						"columns": [
							{ data: 'name'},
							{ data: 'released'},
							{ data: 'background_image'},
							{ data: 'rating'},
							{ data: 'platforms[].platform.name'},
							{ data: 'playtime'}
						]
					});
				});

		$('#games tbody').on( 'click', 'tr', function () {
        // this came from https://datatables.net/examples/advanced_init/events_live.html
        var table = $('#games').DataTable();
        var data = table.row( this ).data();
          // alert( 'You clicked on '+data[0] );
          alert( 'You clicked on '+ data.name );
  
        if ( $(this).hasClass('selected') ) {
          $(this).removeClass('selected');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
  
		// other reactive to be called per each selected row
        window.myLine.update();
  
        } );
       }
	$( window ).on( "load", setupData );
  	$('#button').click( function () {
	  table.row('.selected').remove().draw( false );
  	} );
	</script>
	</body>
	<footer></footer>
</html>